###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.js text eol=lf
*.ts text eol=lf
